#term{
    position:absolute;
    left:0px;
    top:0px;
    width:50%;
    background-color:black;
}
#terminal_div{
    position:relative;
    width:100%;
}
#pics{
    position:absolute;
    right:0px;
    top:0px;
    width:50%;
    background-color:white;
}
